.desc_main_box {
    width: 600px;
    margin: 1rem auto;
    border: solid 1px #303236;
    border-radius: 5px;
    padding: 1rem;
}

.desc_main_element {
    border: dashed 1px rgba(64, 64, 72, 1);
    border-radius: 3px;
    padding: 1rem;
}

.desc_main_element:not(:first-child) {
    margin: 1rem 0 0 0;
}

.desc_main_ele_title {
    margin: 0;
}

.desc_main_ele_body {
    margin: 0 0 0 1rem;
}