#os_main_box {
    width: 700px;
    margin: 1rem auto;
    border: solid 1px #303236;
    border-radius: 5px;
    padding: 1rem;
}

.os_element_box {
    border: dashed 1px rgba(80, 160, 80, 0.8);
    border-radius: 5px;
    padding: 1rem 1rem;
}

.os_element_box:not(:first-child) {
    margin-top: 1rem;
}

.os_element_title {
    margin: 0;
}

.os_desc_section {
    padding: 5px;
    margin-top: 1rem;
    vertical-align: top;
    border: solid 1px rgba(100, 100, 100, 0.5);
    border-radius: 2px;
}

.os_desc_section_left {
    display: inline-block;
    width: 29%;
    vertical-align: top;
}

.os_desc_section_right {
    display: inline-block;
    width: 69%;
}

.os_desc_section_inner {
    display: block;
    color: #d0d0d0;
    background: #505050;
    margin: 0.5rem;
    padding: 0.5rem;
}

.os_desc_section_inner_line {
    margin: 0;
}